@{
    ViewBag.Title = "Transferencia";
}
<h2>TRANSFERENCIAS ELECTRONICAS</h2>
<h3>@ViewBag.Message</h3>

<div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <h4>Numero de cuenta destino</h4>
                <input type="text" name="entrante" />
                <br />
                <h4>Monto a transferir</h4>
                <input type="text" name="saliente" />
                <br />
                <br />
                <button type="button"> Realizar Transferencia </button>
            </ul>
        </div>
    </div>
</div>